
<module>
  <rawname>gateway</rawname>
  <name>Gateway</name>
  <version>17.0.10</version>
  <publisher>Franck Danard</publisher>
  <license>GPL3+</license>
  <changelog>
    *17.0.10* Update and removing some stuffs.
    *17.0.9* Ready for GPL3. 
    *17.0.8* Fixe issue showing wrong data when we are adding a gateway. 
    *17.0.7* Fixe issue clearing json locales. 
    *17.0.6* enable repos.
    *17.0.5* Translate JS i18n words. Fixe some bugs.
    *17.0.4* improving dialplan and fixe some regex bugs. 
    *17.0.3* change dialplan.
    *17.0.2* fix some bugs.
    *17.0.1* Initial release.
  </changelog>
  <category>Connectivity</category>
  <description>Allow any extensions to be used as a gateway connected via a SIP trunk to another FreePBX server or Gateway.</description>
  <menuitems>
    <gateway>Gateway</gateway>
  </menuitems>
  <supported>17.0</supported>
  <database>
    <table name="gateway">
        <field name="extension" type="string" length="30" primarykey="true"/>
        <field name="description" type="string" notnull="false"/>
        <field name="contact" type="string" length="100" notnull="true"/>
        <field name="address" type="string" length="255" notnull="false"/>
        <field name="city" type="string" length="50" notnull="false"/>
        <field name="zip_code" type="string" length="6" notnull="false"/>
        <field name="country" type="string" length="50" notnull="false"/>
        <field name="email" type="string" length="100" notnull="false"/>
        <field name="gateway" type="string" length="255" notnull="true"/>
        <field name="dids" type="blob" notnull="true"/>
    </table>
  </database>
</module>
